body {
    background-image: url(lemon.jpg);
    display: block;
    margin-left: 150px;
    margin-right: 200px;
}

html, body {
    text-align: center;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }
   

.slider-container {
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
    text-align: center;
}
.slide {
    text-align: center;
    position: absolute;
    position:center;
    z-index: 10;
    padding: 8em 1em 0;
    background-size: cover;
    transition: left 0s 0.75s;
}
    [id^="slide"]:checked + .slide {
    left: 0;
    z-index: 100;
    transition: left 0.65s ease-out;
}

.slide-1 {
    background-image: url("foto2.jpg");
    width: 800px;
    height: 300px;
    text-align: center;
}

.slide-2 {
    background-image: url("foto4.jpg");
    width: 800px;
    height: 300px;
    text-align: center;
}
.slide-3 {
    background-image: url("foto3.jpg");
    width: 800px;
    height: 300px;
    text-align: center;
}