
body {
    background-image: url(pizza.jpg);
    display: block;
    margin-left: 150px;
    margin-right: 200px;
}

.container {
 
    position: relative;
    text-align: center;
    color: rgb(0, 0, 0);
    
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 1px 5px 5px rgb(201, 161, 30);
    font-family: 'Common Pixel', sans-serif;
    font-size: 10.2rem
    
}
body {margin:10;}

.icon-bar {
    width: 104.7%;
    background-color: rgb(41, 41, 41);
    overflow: auto;
}
.icon-bar a {
    float: left;
    width: 20%;
    text-align: center;
    padding: 12px 0;
    transition: all 0.3s ease;
    font-size: 36px;
}

.icon-bar a:hover {
    background-color: #000;
}

.active {
    background-color: #cca331 !important;
}

.rectangle {
    background-image: url(yeni.jpg);
    position: block;
    margin-bottom: 100px;
    height: 700px;
    width: 1598px;
    background-color: #bb9019;

  }

